<a href="https://colab.research.google.com/github/flatplanet/Data_Analysis_With_Python_Course/blob/main/Numpy_6_Iterating_Through_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy Arrays - Iterating

In [1]:
import numpy as np

In [2]:
# Can use regular Python For Loops
np1 = np.array([1,2,3,4,5])
print(np1)
for x in np1:
  print(x)

[1 2 3 4 5]
1
2
3
4
5

In [3]:
# Looping 2-D
np2 = np.array([[1,2,3,4,5],[6,7,8,9,10]])
# Loop thru
for x in np2:
  #print(x)
  for y in x:
    print(y)

1
2
3
4
5
6
7
8
9
10

In [4]:
# Looping 3-D
np3 = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
for x in np3:
  #print(x)
  for y in x:
    #print(y)
    for z in y:
      print(z)

1
2
3
4
5
6
7
8
9
10
11
12

In [5]:
# Instead use shortcut np.nditer()
for x in np.nditer(np3):
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12