<a href="https://colab.research.google.com/github/flatplanet/Data_Analysis_With_Python_Course/blob/main/Pandas_1_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas - Series

In [1]:
# Import Pandas and Numpy
import pandas as pd
import numpy as np

In [2]:
# Create Pandas Series From List (Column in Table)
my_list = [5,9,12,27]
# Create a Series
my_series = pd.Series(my_list)

In [3]:
# print without formatting
print(my_series)

0     5
1     9
2    12
3    27
dtype: int64

In [4]:
# print with formatting
my_series

0     5
1     9
2    12
3    27
dtype: int64

In [5]:
# Pull Item From Series with Index Number
print(my_series[1])
my_series[1]

9

np.int64(9)

In [6]:
# Create Labels with Index Argument
my_index = ["A", "B", "C", "D"]
my_series2 = pd.Series(my_list, my_index)
my_series2

A     5
B     9
C    12
D    27
dtype: int64

In [7]:
# Creat Labels Manually
my_series3 = pd.Series(my_list, ["E", "F", "G", "H"])
my_series3

E     5
F     9
G    12
H    27
dtype: int64

In [8]:
# Pull Item From Series With Label
#print(my_series3.iloc[3])
print(my_series3["G"])

12