<a href="https://colab.research.google.com/github/flatplanet/Data_Analysis_With_Python_Course/blob/main/Python_Data_Analysis_Course_Numpy_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numeric Python

In [20]:
# Python list
my_list = [1,2,3,4,5, "John", True]
my_list2 = [6,7,8, my_list]

In [26]:
# Import Numpy
import numpy as np

In [25]:
# Create a numpy array
np1 = np.array([0,1,2,3,4,5,6,7,8,9])
print(np1)
print(np1[2])

[0 1 2 3 4 5 6 7 8 9]
2

In [10]:
# Shape

In [11]:
# Arange

In [12]:
# Step

In [13]:
# Zeros

In [14]:
# Multi-Dimensional Arrays with Zeros

In [15]:
# Full

In [16]:
# Multi-Dimensional Array with Full

In [17]:
# Convert Python List to Numpy Array